@*@model IEnumerable<WebApp.Models.GuiDashboard>*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    
    <h2>It's Aremty Service. Welcome!</h2>
    @*<h2>Aremty Service</h2>
    <table>
        <tr class="table active" ><td><p>Название рабочего стола</p></td>
        </tr>
        @foreach (WebApp.Models.GuiDashboard b in Model)
        {
            <tr class="text-center">
                <td><p>@b.Title</p></td>
            </tr>
        }
    </table>*@
</div>
