@model IEnumerable<WebApp.Models.GuiDashboard>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>Aremty Service</h3>
    <table>
        <tr class="h5"><td><p>Название рабочего стола</p></td>
        </tr>
        @foreach (WebApp.Models.GuiDashboard b in Model)
        {
            <tr>
                <td><p>@b.Title</p></td>
            </tr>
        }
    </table>
</div>
